.basicCommandsColumns {
	grid-template-columns: min-content auto;
}

.basicCommandsColumnsHeader {
	grid-column: span 2;
	font-weight: bolder !important;
}

@media only screen and (min-width: 580px) {
	.basicCommandsColumns {
		grid-template-columns: min-content auto min-content auto;
	}
	.basicCommandsColumnsHeader {
		grid-column: span 4;
		font-weight: bolder !important;
	}
}
